@model PetSpa.Models.AddPetViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <main role="main" class="pb-3 p-3">
        <h1 class="text-center rounded-pill div-title">Ingresar Vehiculo</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Services" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServiceId" class="control-label"></label>
                        <select asp-for="ServiceId" asp-items="Model.Services" class="form-control"></select>
                        <span asp-validation-for="ServiceId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-2">
                        <input type="submit" value="Crear" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}